*{
    margin:0;
    padding: 0;   
    /* border: red solid 1px; */
    box-sizing: border-box;
}
body{
    font-family:'Signika Negative', sans-serif;
 }
h1,h2,p{
    color: #ffffff;
}

header{
    background: url('http://dslv9ilpbe7p1.cloudfront.net/KeMTgcQ05UZSq45TRvOB1Q_store_banner_image.jpeg') no-repeat fixed;
    background-size: cover;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
header img{
    width: 300px;
}
header p{
    padding: 20px;
}
main{
    max-width: 1024px;
    padding:1em;
    margin-right:auto ;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1em;
    gap: 1em;
}

.card{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #500a30 ;
    box-shadow: #313131 7px 7px 6px ;    
    overflow: hidden;
}
.card img{
    height: auto;
    width: 100%;
}
.card .card-text{
    padding-top: 1em;
    text-align: center;
}

#enlace-codigo{
    display: block;
    margin-top: 1em;
    background-color:#04397e;
    padding: .5em 2em;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
  
}

#enlace-codigo:hover{
    background: linear-gradient(to right, #04397e 50%, #06af77 50%);
    background-size: 210% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;
}
