:root{
  --color-line-1: #F7EC7D;
  --color-line-2: #E38F66;
  --color-line-3: #AA445F;
  --color-line-4: #62306D;
}

*{
  box-sizing:border-box;
  padding:0;
  margin:0
}

body{
  height:100vh;
  width:100%;
  height:100vh;
  width:100%;
  background:linear-gradient(to bottom, var(--color-line-1),var(--color-line-1) 16%,var(--color-line-2) 16%, var(--color-line-2) 32%,var(--color-line-3) 32%, var(--color-line-3) 66%,var(--color-line-4) 66%, var(--color-line-4) 66%);
}